.menu-spacer {
    flex: 1 1 auto;
  }
  .close{
      color: #fff;
      font-size: 15px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      margin-left: 32px;

  }
  .mat-toolbar.mat-primary {
    background: #27347b;
    color: #fff;
    font-size: 35px;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 500;
}